<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Graph and Network Theory</title>
    <link rel="stylesheet" href="app/public/css/style.css">
    <link rel="stylesheet" href="app/public/css/pure-min.css">
<!--    <script src="https://use.fontawesome.com/23252f581a.js"></script> -->
</head>
<body>
<div id="app" ng-app="GraphBDFS">
    <h3>Breadth First Search and Depth First Search Algorithms</h3>


    <div id="menu" ng-controller="ConfigController" class="pure-u-1-4">
        <div id="actions">
            <div class="pure-g algo-div">
                <button class="pure-u-1-3 pure-button pure-button-primary" id="bfs" ng-click="BFS()"
                        ng-model="bfsButton">
                    BFS!
                </button>
                <div class="pure-u-1-3"></div>
                <button class="pure-u-1-3 pure-button pure-button-primary" id="dfs" ng-click="DFS()"
                        ng-model="dfsButton">
                    DFS!
                </button>
            </div>
            <div class="pure-g algo-act">
                <button class="pure-u-1-1 pure-button pure-button-primary" ng-click="randomGraph()" ng-model="initButton"><i
                        class="fa fa-random" aria-hidden="true"></i>
                    Random
                </button>
                <button class="pure-u-1-1 pure-button pure-button-primary" ng-click="refreshGraph()"
                        ng-model="initButton">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Refresh
                </button>
            </div>
        </div>

        <div id="manip">
            <form name="nodeForm" class="pure-control-group pure-form" ng-submit="addNode(nodeName)">
                <legend>Nodes</legend>
                <div class=" pure-form-aligned">
                    <label for="input-node">Name</label>
                    <input id="input-node" name="input-node" type="text" placeholder="add a new Node"
                           ng-model="nodeName"
                           required>
                    <input id="add-node" class="pure-button pure-button-primary" type="submit" value="Add">
                </div>
            </form>
            <div id="nodes">
                <table class="pure-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Node</th>
                        <th>Root</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="node in nodes">
                        <td>{{ $index }}</td>
                        <td>{{ node.name }}</td>
                        <td><input type="checkbox" ng-model="node.root" ng-change="rootChange(node)"></td>
                        <td>
                            <button class="button-xsmall pure-button" ng-click="removeNode($index)">X</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form name="linkForm" class="pure-control-group pure-form" ng-submit="addLink(source, target)">
                <legend>Links</legend>
                <div class=" pure-form-aligned">
                    <label for="source-picker">Source</label>
                    <select name="source-picker" id="source-picker" ng-model="source" ng-init="source=-1"
                            ng-change="disabledChange('source', source)" required>
                        <option value="{{$index}}" ng-disabled="node.disabled.source" ng-repeat="node in nodes">{{
                            node.name
                            }}
                        </option>
                    </select>

                    <label for="target-picker">Target</label>
                    <select name="target-picker" id="target-picker" ng-model="target" ng-init="target=-1"
                            ng-change="disabledChange('target', target)" required>
                        <option value="{{$index}}" ng-disabled="node.disabled.target" ng-repeat="node in nodes">{{
                            node.name
                            }}
                        </option>
                    </select>
                    <input class="pure-button pure-button-primary" type="submit" value="Add">
                </div>
            </form>

            <table class="pure-table">
                <thead>
                <tr>
                    <th>Source</th>
                    <th></th>
                    <th>Target</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="link in links">
                    <td>{{ link.source.name }}</td>
                    <td>-></td>
                    <td>{{ link.target.name }}</td>
                    <td>
                        <button class="button-xsmall pure-button" ng-click="removeLink($index)">X</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="content" class="pure-u-3-4">

    </div>
    <footer class="pure-u-1">
        <p>Copyright 2016 <a href="http://www.yseemonnier.com/#/en/profile">Ysée Monnier</a></p>
        <p><a href="https://github.com/YMonnier/GraphBDFS">GitHub Project</a></p>
    </footer>
</div>

<script src="app/public/js/jquery.js"></script>
<script src="app/public/js/angular.min.js.map"></script>
<script src="app/public/js/d3.min.js"></script>
<script src="app/public/js/app.js"></script>
</body>
</html>