body {
    /*margin-top: 50px !important;*/
    background: #042029;
    height: 80vh;
    font-family: Avenir;
    font-weight: lighter;
    font-size: 16px;
}

#menu {
    float: left;
    height:100%;
    border-right: solid white 1px;
    font-size: 14px;
    background-color: white;
    margin-left: 10px;
    padding: 5px;
    opacity: 0.9;
}
#menu #actions {
    height: 20%;
}

#menu #manip {
    height: 80%;
    overflow:scroll;
}

#content {
    width:70%;
    height:100%;
    float:left;
}

#app {
    height: 100%;
}

h3 {
    text-align:  center;
    color: white;
}

a {
    color: white;
}
footer {
    color: white;
}

footer p {
    text-align: center;
}

/* Table */
table {
    margin-top: 30px;
}
table th, table tr {
    width: 70px;
    text-align: center;
}

/* algo button */
.algo-div {

    margin-bottom: 10px;
}

.algo-act button {
    margin-bottom: 10px;
}
#finish {

}
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}


/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #114079;
    color: white;
    margin-bottom: 30px;
}


/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    margin-top: 30px;
    padding: 2px 16px;
    background-color: #114079;
    color: white;
    height: 45px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}